{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
{% load i18n %}
{% load tz %}
Posts
{% endblock title %}


{% block content %}
        {% get_current_timezone as TIME_ZONE %}
        <form action="" method="POST">
            {% csrf_token %}
            <label for="timezone">Time zone:</label>
            <select name="timezone">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Set">
        </form>

        {{ TIME_ZONE }}
        {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

  <style>
   .btn {
    display: inline-block;
    background: #008080;
    color: #000;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 3px;
   }
  </style>
    <h1>{% trans "Всего постов" %}: {{posts|length}}</h1>

   <!-- Используем переданную из представления переменную time_now
   и применяем к ней фильтр date. По назначению этот фильтр очень похож
   на метод strftime у объекта datetime в Python — вывод времени
   в указанном формате. -->
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ next_sale|default_if_none:"Обновление портала каждую пятницу в 23:00 по московскому времени!"}} </h3>
   <hr>
        <!--Теперь будем проверять не request.user.is_authenticated, а конкретные права -->
   {% if perms.news.add_post %}
       <a href="{% url 'post_create' %}" class="btn">{% trans "Добавить пост" %}</a>
   {% endif %}
   <hr>

    <!-- Выводим посты, только если они есть с помощью тега if -->
    {% if posts %}
        <table>

            <tr>
                <td><b>{% trans "Заголовок" %}</b></td>
                <td><b>{% trans "Дата публикации" %}</b></td>
                <td><b>{% trans "Содержание" %}</b></td>
                <td><b>{% trans "Автор" %}</b></td>
                <td><b>{% trans "Тип" %}</b></td>
                <td><b>{% trans "Категория" %}</b></td>
                <td><b>{% trans "Рейтинг" %}</b></td>
               <!--Условие получается составным.-->
                {% if perms.news.change_post or perms.news.delete_post %}
                <td><b>{% trans "Действия" %}</b></td>

                {% endif %}
            </tr>

           <!-- Для каждого поста будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           post — переменная цикла, т.е. наш пост полученный из списка -->

            {% for post in posts %}
            <tr>
              <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
                <td>{{post.title|censor}}</td>
                <td>{{post.dateCreation|date:'M d Y'}}</td>
                <td>{{post.text|truncatewords:20|censor }}</td>
                <td>{{post.author.authorUser}}</td>
                <td>{{post.get_categoryType_display}}</td>
                <td>
                    {% for cat in post.postCategory.all %}
                        <a href = "{% url 'category_list' cat.id %}">{{cat.name}}</a>
                    {% endfor %}
                </td>
                <td>{{post.rating}}</td>
                <td>
                    <!--А здесь доступ для каждой ссылки теперь будем проверять отдельно -->
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">{% trans "Изменить" %}</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">{% trans "Удалить" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <!-- Если постов нет, говорим, что постов нет ;) -->
        <h2>Постов нет!</h2>
    {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}